body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    margin: 0;
    background-color: hsl(185, 75%, 39%);
    background-image: url(images/bg-pattern-top.svg),
    url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw top -60vh, left 50vw top 45vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.card-main {
    border-radius: 20px;
    height: 55vh;
    width: 90vw;
}

.card-top {
    background: url(images/bg-pattern-card.svg);
    background-size: inherit;
    height: 40%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-bottom: 0;
}

.card-bottom {
    height: 60%;
    background-color: white;
    text-align: center;
    margin-top: 0;
    position: relative;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}


img {
    border: 6px white solid;
    border-radius: 50%;
    position: absolute;
    left: 120px;
    top: -50px;
}

.name {
    margin-top: 0;
    padding-top: 4em;
    height: 30%;
    border-bottom: 1px hsl(0, 0%, 89%) solid;
}

h1 {
    margin-top: 0em;
    font-size: 1.05em;
    font-weight: 1000;
}

.name h2 {
    font-size: 0.9em;
    color: hsl(0, 0%, 59%);
}

span {
    color: hsl(0, 0%, 59%);
    font-weight: 400;
}

.stats {
    height: 65%;
    display: flex;
    justify-content: space-around;
    font-size: 60%;
}

.stat {
    margin-top: 1em;
}

/* Media */
@media only screen and (min-width: 1440px) {
    .card-main {
        width: 30vw;
    }

    img {
        left: 165px;
    }
}
