body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    margin: 0;
    background: url(images/bg-pattern-card.svg);
    background-size: 1300%;
    background-position: 1% 0%;
}

.container {
    display: flex;

    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.card-main {
    border: black 1px solid;
    height: 66vh;
    width: 90vw;
}

.card-top {
    background: url(images/bg-pattern-card.svg);
    height: 40%;
}

.card-bottom {
    height: 60%;
    background-color: white;
}